<ion-menu side="end" menuId="mainMenu" contentId="mainContent">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content">
    <ion-list lines="none">
      <ion-item button routerLink="/perfil" (click)="fecharMenu()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Meu Perfil</ion-label>
      </ion-item>
      <ion-item button routerLink="/cadastrarviagem" (click)="fecharMenu()">
        <ion-icon name="bus-outline" slot="start"></ion-icon>
        <ion-label>Ver Viagens Disponíveis</ion-label>
      </ion-item>
      <ion-item button (click)="toggleModoNoturno()">
        <ion-icon [name]="modoNoturnoAtivo ? 'sunny-outline' : 'moon-outline'" slot="start"></ion-icon>
        <ion-label>{{ modoNoturnoAtivo ? 'Modo Claro' : 'Modo Noturno' }}</ion-label>
      </ion-item>
      <ion-item button (click)="sair()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="mainContent">

  <ion-toolbar class="toolbar-viagens">
    <ion-title class="toolbar-title">
      <div class="toolbar-content">
        <span class="toolbar-app-name">BusCheck</span>
        <span class="toolbar-subtitle">Olá, {{ passageiro?.nome_completo || 'Passageiro' }}</span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu" class="toolbar-btn"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Viagens -->
  <h2 class="secao-titulo">Minhas Rotas</h2>

  @if (rotas.length > 0) {
    @for (rota of rotas; track rota.id) {
        <ion-card class="viagem-card">
          <ion-card-content>
            <div class="viagem-header">
              <div class="viagem-rota">
                <ion-icon name="bus-outline"></ion-icon>
                <span class="rota-texto">{{rota.descricao}}</span>
              </div>
              <!-- <ion-badge class="badge-embarcado">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                Embarcado
              </ion-badge> -->
            </div>
            <p class="motorista">Motorista: {{rota.motorista.nome_completo}} </p>
            <!-- <div class="viagem-status">
              <ion-icon name="checkbox-outline"></ion-icon>
              <span>Você está embarcado! Boa viagem!</span>
            </div> -->
          </ion-card-content>
        </ion-card>
    }
  } @else {
    <ion-card class="viagem-card">
      <ion-card-content>
        <p class="sem-rotas">Nenhuma rota encontrada.</p>
      </ion-card-content>
    </ion-card>
  }

</ion-content>