<ion-content class="ion-padding">

  <div class="floating-header">
    <img src="../../assets/icon/bus.png" class="header-icon" style="height: 90px" />
    <h1 class="floating-title">BusCheck</h1>
  </div>

  <div class="welcome-message">
    <p>Sistema de Gerenciamento de Transporte Universitário</p>
  </div>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5 mb-3">

        <ion-card class="passageiro-card">

          <img class="card-icon-enter" src="../../assets/icon/user.png" style="height: 40px" />

          <ion-card-header>
            <ion-card-title>Entrar</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="pat@example.com"
                [formControl]="email"
                (blur)="updateErrorMessage()"
                required
              />
              @if (email.invalid) {
                <mat-error>{{errorMessage()}}</mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input 
                matInput 
                [type]="hide() ? 'password' : 'text'"
                [formControl]="senha"
              />
              <button
                matIconButton
                matSuffix
                (click)="clickEvent($event)"
              >
                <mat-icon>
                  {{hide() ? 'visibility_off' : 'visibility'}}
                </mat-icon>
              </button>
            </mat-form-field>

            <ion-button class="botaoenter" expand="block" (click)="fazerLogin()">
              Entrar
            </ion-button>

            <ion-button class="botaoenter" expand="block" routerLink="/cadastro">
              Não possui cadastro? Cadastre-se!
            </ion-button>

          </ion-card-content>
        </ion-card>

      </div>
    </div>
  </div>

</ion-content>